<template lang="pug">
  .dot
</template>

<script>
export default {
  name: 'CssLoader',
};
</script>

<style lang="sass" scoped>
@keyframes dot
  0%
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%

  12.5%
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%

  25%
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 0, calc(2*100%/3) 100%, calc(3*100%/3) 100%

  37.5%
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 0, calc(2*100%/3) 0, calc(3*100%/3) 100%

  50%
    background-position: calc(0*100%/3) 0, calc(1*100%/3) 0, calc(2*100%/3) 0, calc(3*100%/3) 0

  62.5%
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 0, calc(3*100%/3) 0

  75%
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 0

  87.5%
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 0

  100%
    background-position: calc(0*100%/3) 100%, calc(1*100%/3) 100%, calc(2*100%/3) 100%, calc(3*100%/3) 100%

.dot
  --d: radial-gradient(farthest-side, currentColor 90%, #0000)

  position: absolute
  top: 50%
  left: 50%
  z-index: 10000
  margin: 20px auto
  width: 95px
  height: 40px
  color: $orange_color
  background: var(--d),var(--d),var(--d),var(--d)
  background-size: 20px 20px
  background-repeat: no-repeat
  transform: translate(-50%, -50%)
  animation: dot 1s infinite
</style>
