<template lang="pug">
  .custom-cursor(
    :class="customCursorClass"
    :style="customCursorStyle"
  )
    .custom-cursor__circle
</template>

<script>
export default {
  name: 'CustomCursor',
  data() {
    return {
      customCursorClass: null,
      customCursorStyle: {},
      class: {
        link: 'link',
        close: 'close',
        clear: 'clear',
      },
      selectors: {
        hoverElements: '.js-hover',
        vmOverlay: '.vm--overlay',
      },
    };
  },
  mounted() {
    document.addEventListener('mousemove', this.cursorMousemoveHandler.bind(this));
    this.$customCursor.clearClass = this.clearClass;
  },
  methods: {
    cursorMousemoveHandler(e) {
      this.customCursorStyle = {
        transform: `translate3d(-50%, -50%, 0) matrix(1, 0, 0, 1, ${e.clientX}, ${e.clientY})`,
      };

      this.hoverProcessing(e);
    },
    hoverProcessing({ target }) {
      const vmOverlay = target.closest(this.selectors.vmOverlay);
      const element = target.closest(this.selectors.hoverElements);

      if (element) {
        const { type } = element.dataset;
        this.mouseoverHandler(type);
      } else if (vmOverlay) {
        this.mouseoverHandler(this.class.close);
      } else {
        this.clearClass();
      }
    },
    mouseoverHandler(type) {
      switch (type) {
        case this.class.link:
          this.customCursorClass = this.class.link;
          break;

        case this.class.close:
          this.customCursorClass = this.class.close;
          break;

        case this.class.clear:
          this.customCursorClass = this.class.clear;
          break;

        default:
          this.clearClass();
      }
    },
    clearClass() {
      this.customCursorClass = null;
    },
  },
};
</script>

<style scoped lang="sass">
@keyframes borderAnim
  0%,
  100%
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%

  25%,
  75%
    border-radius: 70% 30% 70% 30% / 30% 70% 40% 70%

  50%
    border-radius: 50% 60% 40% 60% / 70% 40% 60% 30%

.custom-cursor
  position: fixed
  left: 0
  top: 0
  pointer-events: none
  z-index: 1000000
  transform: translate3d(-50%, -50%, 0) matrix(1, 0, 0, 1, 0, 0)

  &.link .custom-cursor__circle
    background-color: $orange_color
    border-color: transparent
    opacity: .5
    transform: scale(.5)
    animation: none

    &::after
      opacity: 0

  &.close .custom-cursor__circle
    animation: none
    transform: scale(1.5)

    &::before
      content: '✕'
      position: absolute
      top: 0
      left: 0
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      font-size: 13px
      color: $orange_color

    &::after
      background: none
      transition: none

  &.clear .custom-cursor__circle
    animation: none
    opacity: 0
    transform: scale(2)
    transition: .5s ease-in-out

    &::after
      transform: scale(0)

.custom-cursor__circle
  position: relative
  top: 0
  left: 0
  box-sizing: border-box
  width: 32px
  height: 32px
  background: none
  border: 2px solid $orange_color
  border-radius: 50%
  opacity: 1
  mix-blend-mode: difference
  transition: .3s ease-in-out
  animation: borderAnim 5s linear infinite

  &::after
    content: ' '
    position: absolute
    top: 50%
    left: 50%
    width: 6px
    height: 6px
    background: $pale_gray_color
    border-radius: 50%
    transform: translate(-50%, -50%)
    mix-blend-mode: difference
    transition: .3s ease-in-out
</style>
