<template lang="pug">
  .footer-content
    .footer-content__bottom__polici
      | ©
      span.footer-content__bottom__polici-text.footer-content__bottom__polici-text--V V
      span.footer-content__bottom__polici-text CHAROV
      span.footer-content__bottom__polici-text.footer-content__bottom__polici-text--date(
        v-text="policiDate"
      )
      span.footer-content__bottom__polici-text.footer-content__bottom__polici-text--location Kyiv, Ukraine
    button.footer-content__bottom__btn.js-hover(
      data-type="link"
      type="button"
      @click="scrollToTop"
    )
      span(
        v-text="$t('layouts.defaultFooter.btn')"
      )
</template>

<script>
export default {
  name: 'FooterContent',
  computed: {
    policiDate() {
      return new Date().getFullYear();
    },
  },
  methods: {
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
      if (!this.isTouch) this.$customCursor.clearClass();
    },
  },
};
</script>

<style lang="sass" scoped>
.footer-content
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  height: 80px
  padding: 0 12px
  background: linear-gradient(to right, $carbonic_color, $carbonic_color 80%, $black_smoke_color 80%)

  +min-w($tablet)
    padding: 0 30px
    background: linear-gradient(to right, $carbonic_color, $carbonic_color 95%, $black_smoke_color 95%)

  +min-w($laptop)
    padding: 0 30px 0 110px

  +min-w($laptop_l)
    background: linear-gradient(to right, $carbonic_color, $carbonic_color 98%, $black_smoke_color 98%)

.footer-content__bottom__polici::v-deep
  font: 500 8px/12px "Neuropol", sans-serif
  text-transform: uppercase
  color: $tin_gray_color
  letter-spacing: 2px

  +min-w($laptop)
    font-size: 9px

  .footer-content__bottom__polici-text
    color: $orange_color

    &--V
      margin-right: 1px
      margin-left: 5px
      color: $white_color

    &--date,
    &--location
      margin-left: 10px
      color: $white_color

    &--location
      margin-left: 20px

.footer-content__bottom__btn
  position: relative
  display: block
  width: 80px
  margin-right: 20px
  background: $black_smoke_color
  overflow: hidden
  transition: .3s ease-in-out

  +min-w($tablet)
    width: 100px
    margin-right: 40px

  +min-w($laptop)
    width: 120px

  &::before
    content: ' '
    position: absolute
    bottom: 100%
    left: 0
    z-index: 0
    width: 100%
    height: 100%
    background: $orange_color
    transform: translateY(100%)
    transition: .3s ease-in-out

  span
    position: relative
    z-index: 1
    font-size: 9px
    line-height: 35px
    text-align: center
    text-transform: uppercase
    color: $white_color
    letter-spacing: 2px

  .no-touch &:hover
    span
      color: $orange_color

    &::before
      transform: translateY(0)
</style>
