<template lang="pug">
  .header-bar
    .header-bar__wrap
      .header-bar__logo
        include ../../assets/icons/logo.svg

      button.header-bar__menu.js-hover(
        :class="{ 'header-bar__menu--close': menuState }"
        data-type="link"
        type="button"
        @click="changeMenuState"
      )
        span.header-bar__menu-scenery.header-bar__menu-scenery--top
        span.header-bar__menu-scenery.header-bar__menu-scenery--center
        span.header-bar__menu-scenery.header-bar__menu-scenery--bottom
        | {{ $t('layouts.header.bar.menuBtn') }}

      social-list(
        modifier="header-bar"
      )

      .header-bar__folio.js-hover(
        data-type="clear"
      )
        span(v-for="n in 3" :key="`folio-${n}`")

    main-menu(
      :isTouch="isTouch"
    )

</template>

<script>
import MainMenu from '@/components/global-components/MainMenu';
import SocialList from '@/components/global-components/SocialList';

export default {
  name: 'HeaderBar',
  components: { MainMenu, SocialList },
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      class: {
        headerBarMenuCloseModifier: 'header-bar__menu--close',
      },
    };
  },
  computed: {
    menuState() {
      return this.$store.getters.menuState;
    },
    verticalScrollbarWidth() {
      return window.innerWidth - document.documentElement.clientWidth;
    },
  },
  watch: {
    menuState(val) {
      if (val) {
        document.body.style = `padding-right: ${this.verticalScrollbarWidth}px; overflow: hidden`;
      } else {
        document.body.style = null;
      }
    },
  },
  methods: {
    changeMenuState() {
      this.$store.dispatch('changeMenuState', !this.menuState);
    },
  },
};
</script>

<style scoped lang="sass">
.header-bar
  position: fixed
  z-index: 10000
  top: 0
  width: 100%

  +min-w($laptop)
    width: auto
    height: 100%

.header-bar__wrap
  position: relative
  z-index: 1001
  display: flex
  align-items: center
  width: 100%
  height: 100%
  box-sizing: border-box
  padding-left: 12px
  background: $carbonic_color

  +min-w($laptop)
    flex-direction: column
    max-width: 80px
    padding: 12px 0 0

.header-bar__logo
  width: 44px
  height: 44px
  margin-right: 54px

  +min-w($laptop)
    margin: 44px 0 0

.header-bar__menu
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  width: 38px
  height: 38px
  margin: 0 auto 0 0
  padding: 0
  font-size: 9px
  font-weight: 400
  color: rgba(255, 255, 255, 0.41)
  letter-spacing: 2px
  background: none
  border: none
  overflow: hidden

  +min-w($laptop)
    margin: 100px 0 auto

.header-bar__menu-scenery
  position: absolute
  top: 8px
  left: 0
  display: block
  height: 2px
  background: $orange_color
  transition: .3s ease-in-out

  &--top,
  &--bottom
    width: 28px

  &--top
    top: 0

    .header-bar__menu--close &
      background: $white_color
      transform: translateY(10px) rotate(45deg)

  &--center
    width: 22px

    .header-bar__menu--close &
      opacity: 0
      transform: translateX(-100%)

  &--bottom
    top: 16px

    .header-bar__menu--close &
      background: $white_color
      transform: translateY(-6px) rotate(-45deg)

.header-bar__folio
  display: flex
  justify-content: center
  align-items: center
  width: 70px
  height: 70px
  background: $grey_color

  +min-w($laptop)
    width: 80px
    height: 80px

  span
    position: relative
    display: block
    width: 4px
    height: 4px
    background: $orange_color
    border-radius: 50%

    &:nth-of-type(even)
      margin: 0 10px

    &::before,
    &::after
      content: ' '
      position: absolute
      width: 4px
      height: 4px
      background: $orange_color
      border-radius: 50%

    &::before
      top: -14px

    &::after
      top: 14px
</style>
