<template lang="pug">
  .header-content(
    :class="{'is-load': isLoad}"
  )
    parallax-pixel(
      modifier="header-content"
      :isLoad="isLoad"
    )

    .header-content__wrap
      .header-content__wrap-title(
        ref="headerTitleWrap"
      )
        .header-content__title(
          v-for="(title, titleId) in $t('layouts.header.content.title')"
          ref="headerTitle"
          :key="`title-${titleId}`"
          v-html="title"
        )

      .header-content__desc(
        v-text="$t('layouts.header.content.desc')"
      )

      .header-content__action
        .header-content__action-scroll
        span(
          v-html="$t('layouts.header.content.action')"
        )

    .header-content__location
      .header-content__location-city Kyiv
      .header-content__location-country  Ukraine
</template>

<script>
import ParallaxPixel from '@/components/global-components/ParallaxPixel';

export default {
  name: 'HeaderContent',
  components: { ParallaxPixel },
  data() {
    return {
      isLoad: false,
      passHeaderSizeToDataCallback: this.passHeaderSizeToData.bind(this),
      initCallback: this.init.bind(this),
    };
  },
  computed: {
    headerTitleWrap() {
      return this.$refs.headerTitleWrap;
    },
    headerTitle() {
      return this.$refs.headerTitle;
    },
  },
  watch: {
    isLoad(val) {
      if (val) {
        this.passHeaderSizeToData();
      }
    },
  },
  mounted() {
    if (document.readyState === 'complete') this.isLoad = true;
    window.addEventListener('load', this.initCallback);
  },
  destroyed() {
    window.removeEventListener('load', this.initCallback);
    window.removeEventListener('resize', this.passHeaderSizeToDataCallback);
  },
  methods: {
    init() {
      setTimeout(() => {
        this.isLoad = true;

        window.addEventListener('resize', this.passHeaderSizeToDataCallback);
      }, 300);
    },
    passHeaderSizeToData() {
      const { clientWidth } = this.headerTitleWrap;
      this.headerTitle
        .forEach((title) => title.style.setProperty('--leftIndent', `${clientWidth - title.clientWidth}`));
    },
  },
};
</script>

<style lang="sass">
@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes title
  0%
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)
    opacity: 1
  50%
    transform: translateX(0)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  100%
    transform: translateX(calc(var(--leftIndent) * -1px))
    opacity: 1

@keyframes show-text
  0%
    opacity: 1
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)
  100%
    opacity: 1
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)

@keyframes scroll
  20%
    opacity: 1
  100%
    transform: translate(-50%, 10px) scale(.8)
    opacity: 0

.header-content
  position: relative
  height: 100%
  padding: 70px 12px 12px
  background: $carbonic_color

  +min-w($laptop)
    padding: 12px 12px 12px 80px

  &::after
    content: ' '
    position: absolute
    right: 42px
    bottom: 50px
    width: 70px
    height: 70px
    border: 1px solid rgba(255, 255, 255, .3)
    border-top-color: transparent
    border-left-color: transparent
    transform: translateX(-50px)
    opacity: 0
    transition: 1s 2s

    +min-w($tablet)
      transition-delay: 2.5s

  &.is-load
    &::after
      transform: translateX(0)
      opacity: 1

    & .header-content__location
      transform: translateX(0)
      opacity: 1

.header-content__wrap
  position: relative
  z-index: 1
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  padding: 20px 0
  overflow: hidden

  &::before,
  &::after
    content: ' '
    position: absolute
    top: 50px
    width: 70px
    height: 70px
    border: 1px solid rgba(255, 255, 255, .3)

  &::before
    left: 30px
    border-right-color: transparent
    border-bottom-color: transparent
    transform: translateX(-50px)
    opacity: 0
    transition: 1s 2.5s

    +min-w($tablet)
      transition-delay: 3s

    .is-load &
      transform: translateX(0)
      opacity: 1

  &::after
    right: 30px
    border-bottom-color: transparent
    border-left-color: transparent
    transform: translateX(-50px)
    opacity: 0
    transition: 1s 2s

    +min-w($tablet)
      transition-delay: 2.5s

    .is-load &
      transform: translateX(0)
      opacity: 1

.header-content__wrap-title
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  margin: auto 42px 0

  +min-w($mobile_l)
    margin-right: 55px
    margin-left: 55px

  +min-w($tablet)
    min-height: 114px
    margin-right: 105px
    margin-left: 105px

  +min-w($laptop)
    min-height: 170px
    margin-right: 130px
    margin-left: 130px

  &::before
    content: ' '
    position: absolute
    top: -35px
    left: 50%
    width: 50px
    height: 2px
    background: $orange_color
    transform: translate(-50%, -20px)
    opacity: 0
    transition: 1s 3.5s

    +min-w($tablet)
      top: -85px
      transition-delay: 4s

    +min-w($laptop)
      top: -120px
      width: 100px

  .is-load &::before
    transform: translate(-50%, 0)
    opacity: 1

.header-content__title
  position: relative
  z-index: 1
  font: 900 24px/30px $russo_one_font
  color: $white_color
  text-transform: uppercase
  letter-spacing: 2px
  opacity: 0

  +min-w($mobile_l)
    font-size: 30px

  +min-w($tablet)
    position: absolute
    right: 0
    font-size: 34px
    line-height: 38px
    white-space: nowrap

  +min-w($laptop)
    font-size: 45px
    line-height: 60px

  &:nth-of-type(n+1)
    +min-w($tablet)
      top: 0

  &:nth-of-type(n+2)
    +min-w($tablet)
      top: 40px

    +min-w($laptop)
      top: 55px

  &:nth-of-type(n+3)
    +min-w($tablet)
      top: 80px

    +min-w($laptop)
      top: 110px

  span
    color: $orange_color

  .is-load &
    animation: show-text 1.5s .5s forwards

    +min-w($tablet)
      animation: title 2s forwards

.header-content__desc
  position: relative
  z-index: 1
  max-width: 550px
  margin: 40px 42px 0
  font-size: 12px
  line-height: 18px
  color: $white_color
  opacity: 0

  +min-w($mobile_l)
    margin-right: 55px
    margin-left: 55px

  +min-w($tablet)
    margin: 50px 105px 0
    font-size: 14px

  +min-w($laptop)
    margin: 60px 130px 0
    line-height: 20px

  .is-load &
    animation: show-text 1.5s .5s forwards

    +min-w($tablet)
      animation-duration: 1s
      animation-delay: 2s

.header-content__action
  position: relative
  z-index: 1
  margin: auto 42px 0
  padding-left: 38px
  font-size: 9px
  line-height: 15px
  text-transform: uppercase
  letter-spacing: 1px
  color: $white_color
  transform: translateX(-50px)
  opacity: 0
  transition: 1s 2.5s

  +min-w($tablet)
    transition-delay: 3s

  .is-load &
    transform: translateX(0)
    opacity: .7

  &::after
    content: ' '
    position: absolute
    bottom: 0
    left: 38px
    width: 47px
    height: 1px
    background: $white_color
    opacity: .7

.header-content__action-scroll
  position: absolute
  bottom: 0
  left: 0
  display: block
  width: 20px
  height: 30px
  border: 2px solid $white_color
  border-radius: 4px

  &::before
    content: ' '
    position: absolute
    top: 5px
    left: 50%
    width: 3px
    height: 6px
    background: $orange_color
    border-radius: 50%
    transform: translateX(-50%)
    animation: scroll 2s cubic-bezier(.15, .41, .69, .94) infinite

.header-content__location
  position: absolute
  right: 57px
  bottom: 50px
  z-index: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-end
  height: 70px
  font: 500 10px/17px "Neuropol", sans-serif
  text-transform: uppercase
  letter-spacing: 1px
  color: $white_color
  transform: translateX(-50px)
  opacity: 0
  transition: 1s 2s

  +min-w($tablet)
    transition-delay: 2.5s
</style>
