<template lang="pug">
  ul.locales(
    :class="getModifierClass"
  )
    li.locales__item.js-hover(
      data-type='link'
      v-for='locale in supportedLocales'
      :key='locale'
      @click='switchLocale(locale)'
      v-text='locale'
    )
</template>

<script>
import Translation from '@/lang/Translation';

export default {
  name: 'LocaleSwitcher',
  props: {
    modifier: {
      type: String,
    },
  },
  computed: {
    menuState() {
      return this.$store.getters.menuState;
    },
    supportedLocales() {
      return Translation.supportedLocales;
    },
    getModifierClass() {
      return this.modifier ? `locales--${this.modifier}` : '';
    },
  },
  methods: {
    switchLocale(locale) {
      if (this.$i18n.locale !== locale) {
        this.$store.dispatch('changeMenuState', !this.menuState);
        setTimeout(() => {
          const to = this.$router.resolve({ params: { locale } });
          Translation.changeLocale(locale).then(() => this.$router.push(to.location));
        }, 1000);
      }
    },
  },
};
</script>

<style scoped lang="sass">
.locales
  display: flex
  margin: 0
  padding: 0
  list-style: none
  user-select: none

.locales__item
  color: $grey_color

  &:not(:first-of-type)
    &::before
      content: '/'
      margin: 0 4px

.locales--main-menu
  .locales__item
    display: block
    width: 36px
    font-size: 9px
    line-height: 36px
    color: rgba(255, 255, 255, 0.41)
    text-align: center
    text-transform: uppercase
    border: 1px solid rgba(255, 255, 255, .08)

    &:not(:first-of-type)
      &::before
        display: none
</style>
