<template lang="pug">
  .main-menu(
    :class="mainMenuClass"
  )
    .main-menu__overlay.js-hover(
      data-type="close"
      @click="changeMenuState"
    )
    .main-menu__content
      .main-menu__logo
        span V
        | CHAROV

      ul.main-menu__list
        li.main-menu__item(
          v-for="(link, i) in navLinks"
          :key="`link-${i}`"
        )
          .main-menu__link.js-hover(
            data-type="link"
            v-text="link.text"
            @click="scrollToSection(link.name)"
          )

          //router-link.main-menu__link(
          //  :to="$i18nRoute({ name: 'Home'})"
          //  data-type="link"
          //  ) {{ $t('menu.home') }}
        //router-link(:to="$i18nRoute({ name: 'About'})") {{ $t('menu.about') }}

      .main-menu__content-footer
        social-list(
          modifier="main-menu"
        )

        locale-switcher(
          modifier="main-menu"
        )
</template>

<script>
import LocaleSwitcher from '@/components/global-components/LocaleSwitcher';
import SocialList from '@/components/global-components/SocialList';
import indentForSection from '@/helpers/indentForSection';

export default {
  name: 'MainMenu',
  components: {
    LocaleSwitcher,
    SocialList,
  },
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      menuClassName: {
        open: 'main-menu--open',
        close: 'main-menu--close',
      },
      mainMenuClass: {
        'main-menu--open': this.menuState,
      },
    };
  },
  computed: {
    menuState() {
      return this.$store.getters.menuState;
    },
    navLinks() {
      return [
        {
          name: 'home',
          text: this.$t('layouts.header.bar.menu.home'),
        },
        ...this.$store.getters.navLinks,
      ];
    },
  },
  watch: {
    menuState() {
      this.mainMenuClass[this.menuClassName.open] = this.menuState;
      this.mainMenuClass[this.menuClassName.close] = !this.menuState;
    },
  },
  methods: {
    changeMenuState() {
      this.$store.dispatch('changeMenuState', !this.menuState);
      if (!this.isTouch) this.$customCursor.clearClass();
    },
    scrollToSection(name) {
      this.changeMenuState();

      setTimeout(() => {
        if (name === 'home') {
          window.scrollTo({ top: 0, behavior: 'smooth' });
        } else {
          this.$scrollTo(`section-${name}`, indentForSection());
        }
      }, 1000);
    },
  },
};
</script>

<style scoped lang="sass">
@keyframes overlay-visible
  100%
    opacity: 1

@keyframes overlay-hidden
  0%
    display: block
    visibility: visible
  100%
    display: none
    opacity: 0
    visibility: hidden

@keyframes main-menu-close
  100%
    display: none
    visibility: hidden

.main-menu
  position: fixed
  top: 70px
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  display: flex
  visibility: visible
  transform: translateX(-105%)

  +min-w($laptop)
    top: 0

  &::after
    content: ' '
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    background: $orange_color
    transform: translateX(-105%)

    +min-w($laptop)
      max-width: 800px
      height: 79.5%
      margin: auto 0

  &--open
    transform: translateX(0)

    &::after
      transform: translateX(0)
      transition: $effect_animation_time .4s cubic-bezier(1, 0, 0.58, 1)

      +min-w($laptop)
        transform: translateX(80px)

  &--close
    transform: translateX(0)
    animation: main-menu-close 1.1s linear forwards

    &::after
      transition: $effect_animation_time .3s cubic-bezier(1, 0, 0.58, 1)

.main-menu__overlay
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1
  width: 100%
  height: 100%
  background: rgba(37, 36, 37, .71)
  opacity: 0

  .main-menu--open &
    animation: overlay-visible $effect_animation_time linear forwards

  .main-menu--close &
    opacity: 1
    animation: overlay-hidden $effect_animation_time .5s linear forwards

.main-menu__content
  position: relative
  z-index: 2
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  padding: 40px 30px 0
  background: $black_grey_color
  transform: translateX(-105%)

  +min-w($laptop)
    max-width: 800px
    height: 80%
    margin: auto 0

  &::after
    content: ' '
    position: absolute
    top: 0
    bottom: 0
    left: 50px
    width: 1px
    background: rgba(255,255,255,0.1)

  .main-menu--open &
    transform: translateX(0)
    transition: $effect_animation_time .6s cubic-bezier(1, 0, 0.58, 1)

    +min-w($laptop)
      transform: translateX(80px)

  .main-menu--close &
    transition: $effect_animation_time cubic-bezier(1, 0, 0.58, 1)

.main-menu__logo
  position: relative
  z-index: 1
  padding: 10px 0
  font: 700 17px/26px $neuropol_font
  letter-spacing: 5px
  color: $orange_color
  background: inherit

  span
    color: $white_color

.main-menu__list
  position: relative
  z-index: 1
  margin: 60px 0
  padding: 20px 0
  list-style: none
  background: inherit
  overflow-x: auto
  +verticalScrollbar(2px, $grey_color, $orange_color)

.main-menu__item
  padding: 0 0 0 20px

.main-menu__link
  display: inline-block
  font-size: 12px
  line-height: 40px
  letter-spacing: 2px
  color: rgba(255, 255, 255, .41)
  text-transform: uppercase

.main-menu__content-footer
  position: relative
  z-index: 1
  display: flex
  justify-content: space-between
  align-items: center
  margin: auto -30px 40px
  padding: 15px
  background: inherit

  +min-w($laptop)
    padding: 25px 75px 25px 25px
</style>
