<template lang="pug">
  .parallax-pixel(
    :class="{'isShow': isLoad, [modifierClass]: modifierClass}"
  )
    .parallax-pixel__canvas(
      ref="parallaxPixel"
    )
</template>

<script>
import * as THREE from 'three';

export default {
  name: 'ParallaxPixel',
  props: {
    modifier: {
      type: String,
      default: '',
    },
    isLoad: {
      type: Boolean,
    },
  },
  data() {
    return {
      camera: null,
      scene: null,
      renderer: null,
      textureImage: null,
      sprite: null,
      material: null,

      mouseX: 0,
      mouseY: 0,

      windowHalfX: window.innerWidth / 2,
      windowHalfY: window.innerHeight / 2,
    };
  },
  computed: {
    modifierClass() {
      return this.modifier ? `parallax-pixel--${this.modifier}` : '';
    },
    parallaxPixel() {
      return this.$refs.parallaxPixel;
    },
  },
  mounted() {
    setTimeout(() => {
      this.isShow = true;
    }, 300);

    this.init();
    this.animate();
  },
  methods: {
    init() {
      this.camera = new THREE.PerspectiveCamera(
        55,
        this.parallaxPixel.clientWidth / this.parallaxPixel.clientHeight,
        2,
        2000,
      );
      this.camera.position.z = 1000;

      this.scene = new THREE.Scene();
      this.scene.background = new THREE.Color(0x181818);
      this.scene.fog = new THREE.FogExp2(0x181818, 0.001);

      const geometry = new THREE.BufferGeometry();
      const vertices = [];

      // eslint-disable-next-line
      const sprite = new THREE.TextureLoader().load(require('@/assets/img/home-page/disc.png'));

      for (let i = 0; i < 5000; i += 1) {
        const x = 2000 * Math.random() - 1000;
        const y = 2000 * Math.random() - 1000;
        const z = 2000 * Math.random() - 1000;

        vertices.push(x, y, z);
      }

      geometry.setAttribute('position', new THREE.Float32BufferAttribute(vertices, 3));

      this.material = new THREE.PointsMaterial({
        size: 12, sizeAttenuation: true, map: sprite, alphaTest: 0.5, transparent: true,
      });
      this.material.color.setHex(0xf68338);

      const particles = new THREE.Points(geometry, this.material);
      this.scene.add(particles);

      this.renderer = new THREE.WebGLRenderer();
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(this.parallaxPixel.clientWidth, this.parallaxPixel.clientHeight);
      this.parallaxPixel.appendChild(this.renderer.domElement);

      document.addEventListener('pointermove', this.onPointerMove);

      window.addEventListener('resize', this.onWindowResize);
    },
    onWindowResize() {
      this.windowHalfX = this.parallaxPixel.clientWidth / 2;
      this.windowHalfY = this.parallaxPixel.clientHeight / 2;

      this.camera.aspect = this.parallaxPixel.clientWidth / this.parallaxPixel.clientHeight;
      this.camera.updateProjectionMatrix();

      this.renderer.setSize(this.parallaxPixel.clientWidth, this.parallaxPixel.clientHeight);
    },
    onPointerMove(event) {
      if (event.isPrimary === false) return;

      this.mouseX = event.clientX - this.windowHalfX;
      this.mouseY = event.clientY - this.windowHalfY;
    },
    animate() {
      requestAnimationFrame(this.animate);

      this.render();
    },
    render() {
      const time = Date.now() * 0.00003;

      this.camera.position.x += (this.mouseX - this.camera.position.x) * 0.05;
      this.camera.position.y += (-this.mouseY - this.camera.position.y) * 0.05;

      this.camera.lookAt(this.scene.position);

      for (let i = 0; i < this.scene.children.length; i += 1) {
        const object = this.scene.children[i];

        if (object instanceof THREE.Points) {
          object.rotation.x = time * (i < 4 ? i + 1 : -(i + 1));
          object.rotation.y = -time * (i < 4 ? i + 1 : -(i + 1));
        }
      }

      this.camera.lookAt(this.scene.position);
      this.renderer.render(this.scene, this.camera);
    },
  },
};
</script>

<style scoped lang="sass">
@keyframes show
  0%
    opacity: 0
  100%
    opacity: 1

.parallax-pixel
  position: absolute
  top: 70px
  right: 12px
  bottom: 12px
  left: 12px
  background: $dark_grey_color
  overflow: hidden

  +min-w($laptop)
    top: 12px
    left: 80px

  &.isShow
    .parallax-pixel__canvas
      animation: show 2s 3.5s forwards

      +min-w($tablet)
        animation-delay: 4s

.parallax-pixel__canvas
  width: 100%
  height: 100%
  opacity: 0
  filter: brightness(.8)
</style>
