<template lang="pug">
  ul.social-list(
    :class="getModifierClass"
  )
    li.social-list__item(
      v-for="(data, name) in socialNetwork"
      :key="`social-network-${name}`"
    )
      a.social-list__link.js-hover(
        :class="`social-list__link--${name}`"
        :href="data.url"
        data-type="link"
        :title="$t(`layouts.header.bar.socialList.${name}`)"
        target="_blank"
      )
</template>

<script>
export default {
  name: 'SocialList',
  props: {
    modifier: {
      type: String,
    },
  },
  data() {
    return {
      socialNetwork: {
        telegram: { url: 'https://t.me/vitaly_charov' },
        whatsapp: { url: 'https://api.whatsapp.com/send/?phone=380634207822' },
        google: { url: 'mailto:charov.vitaliy@gmail.com' },
      },
    };
  },
  computed: {
    getModifierClass() {
      return this.modifier ? `social-list--${this.modifier}` : '';
    },
  },
};
</script>

<style lang="sass">
.social-list
  display: flex
  margin: 0
  padding: 0
  list-style: none

  &--header-bar
    display: none

    +min-w($mobile_l)
      margin: 0 20px 0 auto

    +min-w($laptop)
      flex-direction: column
      margin: auto 0 40px

.social-list__link
  display: block
  width: 36px
  height: 36px
  background: $grey_color
  border: 1px solid rgba(255, 255, 255, .08)
  background: no-repeat center

  &--telegram
    background-image: url('~@/assets/icons/social-network/telegram.svg')
    background-size: 12px 12px

  &--skype
    background-image: url('~@/assets/icons/social-network/skype.svg')
    background-size: 12px 12px

  &--whatsapp
    background-image: url('~@/assets/icons/social-network/whatsapp.svg')
    background-size: 12px 12px

  &--google
    background-image: url('~@/assets/icons/social-network/google.svg')
    background-size: 12px 12px

.social-list--main-menu
  .social-list__link
    background-color: transparent
</style>
