<template lang="pug">
  .navigation-bar
    ul.navigation-bar__list(
      ref="navigationBarList"
    )
      li.navigation-bar__item.js-hover(
        :key="`nav-bar-item-${id}`"
        v-for="(link, id) in navLinks"
        :class="{'navigation-bar__item--active': id === 0}"
        data-type="link"
        :data-id="id"
        v-text="link.text"
        @click="navigationClickEvent({name: link.name, id})"
      )

    .navigation-bar__buttons
      button.navigation-bar__button.navigation-bar__button--up.js-hover(
        data-type="link"
        data-navigation-type="up"
        @click="navigationButtonEvent"
      )
      button.navigation-bar__button.navigation-bar__button--down.js-hover(
        data-type="link"
        data-navigation-type="down"
        @click="navigationButtonEvent"
      )
</template>

<script>
import indentForSection from '@/helpers/indentForSection';

export default {
  name: 'NavigationBar',
  model: {
    prop: 'activeSection',
    event: 'changeActiveSection',
  },
  props: {
    activeSection: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      class: {
        active: 'navigation-bar__item--active',
      },
      isThisTheFirstClickOnTheDownButton: true,
    };
  },
  computed: {
    navLinks() {
      return this.$store.getters.navLinks;
    },
    navigationBarList() {
      return [...this.$refs.navigationBarList.children];
    },
  },
  watch: {
    activeSection(val) {
      this.highlightingTheActiveItem(val);
    },
  },
  methods: {
    scrollTo(top) {
      window.scrollTo({ top, behavior: 'smooth' });
    },
    highlightingTheActiveItem(activeId) {
      this.navigationBarList.forEach((link) => {
        const { classList } = link;
        const { id: linkId } = link.dataset;

        if (classList.contains(this.class.active)) classList.remove(this.class.active);
        if (+linkId === activeId) classList.add(this.class.active);
      });
    },
    navigationClickEvent({ name, id: activeId }) {
      this.highlightingTheActiveItem(activeId);

      this.scrollToSection(name);
      this.$emit('changeActiveSection', activeId);
      this.$emit('update:isDisableObserver', true);
      setTimeout(() => this.$emit('update:isDisableObserver', false), 600);
    },
    scrollToSection(name) {
      this.$scrollTo(`section-${name}`, indentForSection());
    },
    navigationButtonEvent(e) {
      const { navigationType } = e.currentTarget.dataset;
      const numberOfNavigationElements = this.navigationBarList.length - 1;
      let counter = this.activeSection;

      switch (navigationType) {
        case 'up':
          counter -= 1;
          if (counter < 0) {
            counter = 0;
            this.scrollTo(0);
            this.isThisTheFirstClickOnTheDownButton = true;
          } else {
            this.navigationClickEvent({ name: this.navLinks[counter].name, id: counter });
          }
          break;

        case 'down':
          if (counter === 0 && this.isThisTheFirstClickOnTheDownButton) {
            this.navigationClickEvent({ name: this.navLinks[counter].name, id: counter });
            this.isThisTheFirstClickOnTheDownButton = false;
          } else {
            counter += 1;
            if (counter > numberOfNavigationElements) counter = numberOfNavigationElements;
            this.navigationClickEvent({ name: this.navLinks[counter].name, id: counter });
          }
          break;

        default:
          break;
      }
      this.$emit('changeActiveSection', counter);
    },
  },
};
</script>

<style scoped lang="sass">
.navigation-bar
  position: sticky
  top: 70px
  z-index: 100
  display: flex
  align-items: center
  background: $marengo_color

  +min-w($laptop)
    top: 0

.navigation-bar__list
  display: flex
  margin: 0 auto

  +min-w($mobile_l)
    margin-left: 65px

.navigation-bar__item
  position: relative
  font-size: 10px
  letter-spacing: 2px
  text-transform: uppercase
  color: $light_grey_color
  transition: .3s ease-in-out

  .no-touch &:hover
    color: $orange_color

  &::before,
  &::after
    content: ' '
    position: absolute
    top: 50%
    z-index: 1
    display: none
    width: 12px
    height: 3px
    background: rgba(255, 255, 255, .4)
    transform: translateY(-50%)
    transition: .3s ease-in-out
    pointer-events: none

    +min-w($mobile_l)
      display: block

    +min-w($tablet)
      display: none

    +min-w($laptop)
      display: block

  &::before
    left: -30px

  &::after
    right: -30px

  &:not(&--active)
    display: none

    +min-w($tablet)
      display: block

  &:not(:first-of-type)
    +min-w($tablet)
      margin-left: 35px

    +min-w($laptop)
      margin-left: 48px

  &--active
    color: $orange_color

    &::before,
    &::after
      z-index: 2
      background: $orange_color

.navigation-bar__buttons
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 130px
  height: 60px
  background: $black_smoke_color

  +min-w($tablet)
    height: 78px

  +min-w($laptop)
    width: 180px

  &::before,
  &::after
    content: ' '
    position: absolute

  &::before
    top: 50%
    left: -3px
    width: 6px
    height: 36px
    background: $orange_color
    transform: translateY(-50%)

  &::after
    top: 50%
    left: 50%
    width: 1px
    height: 30px
    background: $orange_color
    transform: translate(-50%, -50%) rotate(45deg)

.navigation-bar__button
  position: relative
  display: block
  width: 30px
  height: 30px
  margin: 0 7px

  &::before
    content: ' '
    position: absolute
    top: 50%
    left: 50%
    width: 6px
    height: 6px
    border: 1px solid  $white_color
    transform: translate(-50%, -50%)

  &--up
    transform: translateY(-6px)

    &::before
      border-left-color: transparent
      border-bottom-color: transparent
      transform: translate(-50%, -50%) rotate(-45deg)

  &--down
    transform: translateY(6px)

    &::before
      border-top-color: transparent
      border-left-color: transparent
      transform: translate(-50%, -50%) rotate(45deg)

</style>
