<template lang="pug">
.portfolio-modal
  CssLoader(
    v-show="!isLoad"
  )

  .portfolio-modal__wrap(
    v-show="isLoad"
    :class="{'portfolio-modal__wrap--hide': isShowWrap}"
  )
    button.portfolio-modal__close(
      @click="modalClose"
    )
      include ../../assets/icons/close.svg

    section.portfolio-modal__content(
      v-for="(screenshot, screenshotId) in getModalData('screenshots')"
      :key="`screenshot-${screenshotId}`"
      :class="`portfolio-modal__content--${screenshot.name}`"
    )
      header.portfolio-modal__content-header
        h3.portfolio-modal__header-title.heading
          span(
            v-text="screenshot.desc"
          )

      figure.portfolio-modal__preview
        img.portfolio-modal__preview-img(
          :src="require(`@/assets/img/section-portfolio/${screenshot.name}.jpg`)"
        )

    section.portfolio-modal__content(
      v-for="(content, contentId) in getModalData('content')"
      :key="`content-${contentId}`"
      :class="`portfolio-modal__content--${contentId}`"
    )
      header.portfolio-modal__content-header
        h3.portfolio-modal__header-title.heading
          span(
            v-text="content.title"
          )

      p.portfolio-modal__content-desc(
        v-if="content.desc"
        v-for="(desc, descId) in content.desc"
        :key="`desc-${descId}`"
        v-text="desc"
      )

      template(
        v-if="contentId === 'my-role'"
      )
        ul.portfolio-modal__list
          li.portfolio-modal__item(
            v-for="(roleItem, roleIndex) in content.list"
            :key="`role-${roleIndex}`"
            v-text="roleItem"
          )

      canvas#technologies.portfolio-modal__technologies.js-hover(
        v-if="content.list && contentId === 'technical-description'"
        width='550'
        height='550'
        data-type="clear"
      )
        ul.portfolio-modal__content-list
          li.portfolio-modal__content-item(
            v-for="(technology, technologyKey) in content.list"
            :key="`technology-${technologyKey}`"
          )
            a.portfolio-modal__link(
              data-weight="30"
              v-text="technology"
            )

  img(
    v-for="(screenshot, screenshotId) in getModalData('screenshots')"
    :key="`image-${screenshotId}`"
    :style="{display: 'none'}"
    :src="require(`@/assets/img/section-portfolio/${screenshot.name}.jpg`)"
    @load="imageLoad(getModalData('screenshots').length)"
  )
</template>

<script>
import CssLoader from '@/components/global-components/CssLoader';

export default {
  name: 'PortfolioModal',
  components: { CssLoader },
  props: {
    name: {
      type: String,
      required: true,
    },
    projectName: {
      type: String,
      required: true,
    },
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      isLoad: false,
      isShowWrap: false,
      imageUploadedBind: this.imageUploaded.bind(this),
      downloadStatusOfPictures: [],
    };
  },
  watch: {
    isLoad(val) {
      if (val) import('@/plugins/tagcanvas').then(this.initTagCanvas.bind(this));
    },
  },
  mounted() {
    window.addEventListener('load', this.imageUploadedBind);
  },
  destroyed() {
    window.removeEventListener('load', this.imageUploadedBind);
    this.deleteTagCanvas();
  },
  methods: {
    modalClose() {
      this.$modal.hide(this.name);
      if (!this.isTouch) this.$customCursor.clearClass();
    },
    getModalData(key) {
      return this.$t(`homePage.sections.portfolio.list.${this.projectName}.${key}`);
    },
    initTagCanvas() {
      window.TagCanvas.Start('technologies', '', {
        textColour: '#000000',
        decel: 1,
        depth: 0.8,
        initial: [0.05, -0.05],
        maxSpeed: 0.04,
        frontSelect: true,
        noSelect: true,
        textFont: 'Inter, sans-serif',
        wheelZoom: false,
        txtScale: 5,
        textHeight: 30,
        zoom: 0.85,
      });
    },
    deleteTagCanvas() {
      window.TagCanvas.Delete('technologies');
    },
    imageLoad(length) {
      if (length > 1) {
        this.downloadStatusOfPictures.push(true);
        const isLast = this.downloadStatusOfPictures.length === length;

        if (isLast) {
          const isEvery = this.downloadStatusOfPictures.every((isLoad) => isLoad);

          if (isEvery) {
            this.imageUploaded();
          } else {
            this.modalClose();
          }
        }
      } else {
        this.imageUploaded();
      }
    },
    imageUploaded() {
      setTimeout(() => {
        this.isLoad = true;
        this.isShowWrap = true;
      }, 500);
    },
  },
};
</script>

<style lang="sass" scoped>
.portfolio-modal__wrap
  background: $white_color
  opacity: 1
  visibility: visible

  &--hede
    background: rgba(0, 0, 0, 0)
    opacity: 0
    visibility: hidden

.portfolio-modal__close
  position: fixed
  top: 15px
  right: 15px
  z-index: 100
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  text-align: center
  background: $white_color
  border-radius: 50%
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2)

  +min-w($laptop)
    display: none

.portfolio-modal__preview
  position: relative
  margin: 0

.portfolio-modal__preview-img
  display: block
  width: 100%

.portfolio-modal__content
  position: relative
  margin: 0 auto
  padding: 45px 12px 25px

  +min-w($tablet)
    padding-right: 38px
    padding-left: 38px

  &::before
    content: ' '
    position: absolute
    top: 45px
    left: 12px
    width: 30px
    height: 2px
    background: $orange_color

    +min-w($tablet)
      left: 38px

  &::after
    content: ' '
    position: absolute
    right: 12px
    bottom: 0
    left: 12px
    z-index: 10
    height: 1px
    background: linear-gradient(to right, #eee, #eee 85%, $orange_color 85%)

    +min-w($tablet)
      right: 30px
      left: 30px
      background: linear-gradient(to right, #eee, #eee 95%, $orange_color 95%)

.portfolio-modal__content-header
  position: relative
  z-index: 1
  padding: 30px 0

  &::after
    content: ' '
    position: absolute
    bottom: 0
    left: 0
    width: 60%
    height: 1px
    background: $brilliant_white_color

    +min-w($tablet)
      left: 0

.portfolio-modal__header-title::v-deep
  margin: 0
  font-weight: 800
  font-size: 16px
  line-height: 27px
  color: $black_color
  letter-spacing: 2px
  text-transform: uppercase

  &::before
    width: 100px
    height: 40px
    z-index: 0

    +min-w($tablet)
      left: -80px

  span
    position: relative
    z-index: 1

.portfolio-modal__content-desc
  position: relative
  z-index: 1

.portfolio-modal__technologies
  display: block
  max-width: 350px
  width: 100%
  margin: -25px auto 0

.portfolio-modal__list
  margin: 20px 0
  padding: 0
  list-style: none

.portfolio-modal__item
  position: relative
  padding-left: 30px
  font-size: 11px
  line-height: 24px

  &:before
    content: ' '
    position: absolute
    top: 7px
    left: 0
    width: 12px
    height: 10px
    background: url('~@/assets/icons/section-about-me/long-arrow-alt-right-solid.svg') no-repeat center / 100%

  &:not(:first-of-type)
    margin-top: 13px

.portfolio-modal__link
  display: block
  text-decoration: none
</style>
