<template lang="pug">
.resume-modal
  CssLoader(
    v-show="!isLoad"
  )

  .resume-modal__wrap(
    v-show="isLoad"
    :class="{'resume-modal__wrap--hide': isLoad}"
  )
    button.resume-modal__close(
      @click="modalClose"
    )
      include ../../assets/icons/close.svg

    SectionWrapper(
      :title="$t('homePage.sections.aboutMe.resume.title')"
      :titleModifierClass="'resume-modal'"
    )
      ul.resume-modal__list
        li.resume-modal__item(
          v-for="(resume, resumeId) in $t('homePage.sections.aboutMe.resume.desc')"
          :key="`resume-${resumeId}`"
        )
          .resume-modal__header
            i.resume-modal__header-icon

            .resume-modal__header-company(
              v-text="resume.company"
            )
            .resume-modal__header-period(
              v-text="resume.period"
            )

          .resume-modal__footer
            .resume-modal__footer-position(
              v-html="resume.position"
            )
            .resume-modal__footer-desc(
              v-text="resume.desc"
            )
            ul.resume-modal__footer-duties
              li.resume-modal__footer-duty(
                v-for="(duty, dutyId) in resume.duties"
                :key="`duty-${dutyId}`"
                v-text="duty"
              )
</template>

<script>
import SectionWrapper from '@/components/homepage-components/SectionWrapper';
import CssLoader from '@/components/global-components/CssLoader';

export default {
  name: 'ResumeModal',
  components: { CssLoader, SectionWrapper },
  props: {
    modalName: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      isLoad: false,
    };
  },
  mounted() {
    setTimeout(() => {
      this.isLoad = true;
    }, 1000);
  },
  methods: {
    modalClose() {
      this.$modal.hide(this.modalName);
      if (!this.isTouch) this.$customCursor.clearClass();
    },
  },
};
</script>

<style lang="sass" scoped>
.resume-modal__wrap
  background: $white_color
  opacity: 1
  visibility: visible

  &--hede
    background: rgba(0, 0, 0, 0)
    opacity: 0
    visibility: hidden

.resume-modal__close
  position: fixed
  top: 15px
  right: 15px
  z-index: 100
  display: flex
  justify-content: center
  align-items: center
  width: 40px
  height: 40px
  text-align: center
  background: $white_color
  border-radius: 50%
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2)

  +min-w($laptop)
    display: none

.resume-modal__item
  position: relative
  padding-left: 20px

  &::before,
  &::after
    content: ' '
    position: absolute
    left: 0

  &::before
    top: 0
    bottom: 0
    width: 1px
    background: $white_smoke_color

  &:not(:first-of-type)
    padding-top: 50px

.resume-modal__header,
.resume-modal__footer
  background: $snow_white_color
  border: 1px solid $white_smoke_color

.resume-modal__header
  position: relative
  padding: 30px 10px 30px 70px

  +min-w($laptop)
    padding-right: 30px
    padding-left: 90px

  &::before
    content: ' '
    position: absolute
    top: 50%
    right: calc(100% + 18px)
    width: 5px
    height: 10px
    background: $orange_color
    transform: translateY(-50%)

.resume-modal__header-icon
  position: absolute
  top: 30px
  left: 15px
  width: 40px
  height: 40px
  background: $white_color url('~@/assets/icons/section-about-me/briefcase-solid.svg') no-repeat center / 13px 14px
  border: 1px solid $white_smoke_color
  border-radius: 4px

  +min-w($laptop)
    left: 30px

.resume-modal__header-company
  font-weight: 600
  font-size: 16px
  line-height: 25px
  color: $black_color

  +min-w($laptop)
    font-size: 17px
    line-height: 28px

.resume-modal__header-period
  margin-top: 4px
  font-size: 12px
  color: $dim_gray_color

  +min-w($laptop)
    font-size: 12px

.resume-modal__footer
  padding: 20px 15px 35px

  +min-w($laptop)
    padding: 30px 30px 45px

.resume-modal__footer-position::v-deep
  font-weight: 800
  font-size: 14px
  line-height: 24px
  color: $light_grey_color

  +min-w($laptop)
    font-size: 15px
    line-height: 27px

  i
    display: inline-block
    width: 12px
    height: 10px
    margin: 0 10px
    vertical-align: middle
    background: url('~@/assets/icons/section-about-me/long-arrow-alt-right-solid.svg') no-repeat center / 100%

.resume-modal__footer-desc
  margin-top: 14px
  font-size: 11px
  line-height: 24px
  color: $light_grey_color

  +min-w($laptop)
    font-size: 12px
    line-height: 27px

.resume-modal__footer-duties
  margin-top: 20px

.resume-modal__footer-duty
  position: relative
  padding-left: 30px
  font-size: 11px
  line-height: 18px
  color: $dim_gray_color

  +min-w($laptop)
    font-size: 12px
    line-height: 21px

  &:before
    content: ' '
    position: absolute
    top: 6px
    left: 0
    width: 12px
    height: 10px
    background: url('~@/assets/icons/section-about-me/long-arrow-alt-right-solid.svg') no-repeat center / 100%

  &:not(:first-of-type)
    margin-top: 13px
</style>
