<template lang="pug">
  .section-skills
    .section-skills__desc
      p.section-skills__desc-text(
        v-for="(desc, id) in $t('homePage.sections.skills.desc')"
        :key="`desc-${id}`"
        v-text="desc"
      )

    #myCanvasContainer.section-skills__tag-wrap
      canvas#myCanvas.section-skills__tag-canvas.js-hover(
        width='550'
        height='550'
        data-type="clear"
      )
        ul.section-skills__tag-list
          li.section-skills__tag-item(
            v-for="(tag, index) in tags"
            :key="`tag-${index}`"
          )
            a(
              data-weight="30"
              v-text="tag"
            )

</template>

<script>
export default {
  name: 'SectionSkills',
  data() {
    return {
      tags: [
        'HTML',
        'Pug',
        'Slim',
        'Handlebars',
        'Twig',
        'Liquid',
        'PHP',
        'BEM',
        'CSS',
        'SASS',
        'SCSS',
        'LESS',
        'TailwindCSS',
        'CSS Animations',
        'Pixel Perfect',
        'ECMAScript',
        'TypeScript',
        'jQuery',
        'REST',
        'Axios',
        'Leaflet',
        '_lodash',
        'JSON',
        'Vue',
        'Vue3',
        'VueUse',
        'Vue Router',
        'Vuex',
        'Pinia',
        'i18n',
        'NuxtJS',
        'Nuxt Composition API',
        'Webpack',
        'Vite',
        'Gulp',
        'Grunt',
        'npm',
        'Yarn',
        'Git',
      ],
    };
  },
  mounted() {
    import('@/plugins/tagcanvas').then(this.initTagCanvas.bind(this));
  },
  destroyed() {
    this.deleteTagCanvas();
  },
  methods: {
    initTagCanvas() {
      setTimeout(() => window.TagCanvas.Start('myCanvas', '', {
        textColour: '#f68338',
        decel: 1,
        depth: 0.8,
        initial: [0.05, -0.05],
        maxSpeed: 0.04,
        frontSelect: true,
        noSelect: true,
        textFont: 'Inter, sans-serif',
        wheelZoom: false,
        txtScale: 5,
        textHeight: 26,
        zoom: 0.85,
      }), 1000);
    },
    deleteTagCanvas() {
      window.TagCanvas.Delete('myCanvas');
    },
  },
};
</script>

<style scoped lang="sass">
.section-skills
  +min-w($laptop)
    display: flex
    justify-content: space-between

.section-skills__desc
  +min-w($laptop)
    max-width: 500px
    margin-right: 30px

.section-skills__desc-text
  color: $pale_gray_color

.section-skills__tag-wrap
  position: relative
  margin-top: 20px

  +min-w($laptop)
    margin-top: -30px

.section-skills__tag-canvas
  position: relative
  z-index: 2
  margin: 0 auto
  width: 100%
  height: auto

  +min-w($laptop)
    width: 500px
    height: 500px

.section-skills__tag-list
  margin: 0
  padding: 0
  letter-spacing: normal

.section-skills__tag-item
  a
    pointer-events: none
</style>
