<template lang="pug">
  .section-wrapper(
    :class="getMainClass"
    :data-id="id"
  )
    header.section-wrapper__header(
      :data-number="numberSection"
    )
      h2.section-wrapper__title.heading(
        v-text="title"
      )

    .section-wrapper__content
      slot
</template>

<script>
export default {
  name: 'SectionWrapper',
  props: {
    title: {
      type: String,
      required: true,
    },
    number: {
      type: Number,
      required: false,
      default: null,
    },
    id: {
      type: Number,
      required: false,
      default: null,
    },
    sectionName: {
      type: String,
      required: false,
      default: null,
    },
    titleModifierClass: {
      type: String,
      required: false,
      default: null,
    },
  },
  computed: {
    numberSection() {
      return this.number ? `${this.number.toString().padStart(2, '0')}.` : false;
    },
    getMainClass() {
      return {
        [`section-wrapper--${this.sectionName}`]: this.sectionName,
        [`section-wrapper--${this.titleModifierClass}`]: this.titleModifierClass,
      };
    },
  },
};
</script>

<style scoped lang="sass">
.section-wrapper
  position: relative
  max-width: 1024px
  margin: 0 auto
  padding: 70px 0

  &::before
    content: ' '
    position: absolute
    top: 70px
    left: 12px
    width: 30px
    height: 2px
    background: $orange_color

    +min-w($tablet)
      left: 30px

  &::after
    content: ' '
    position: absolute
    right: 12px
    bottom: 0
    left: 12px
    z-index: 10
    height: 1px
    background: linear-gradient(to right, #eee, #eee 85%, $orange_color 85%)

    +min-w($tablet)
      right: 30px
      left: 30px
      background: linear-gradient(to right, #eee, #eee 95%, $orange_color 95%)

.section-wrapper__header
  position: relative
  z-index: 1
  padding: 30px 12px

  +min-w($tablet)
    padding: 40px 30px

  &::before
    content: attr(data-number)
    position: absolute
    top: 50%
    right: 30px
    display: none
    font: 800 115px/90px $russo_one_font
    color: $gainsboro_color
    transform: translateY(-50%)

    +min-w($tablet)
      display: block

  &::after
    content: ' '
    position: absolute
    bottom: 0
    left: 12px
    width: 60%
    height: 1px
    background: $brilliant_white_color

    +min-w($tablet)
      left: 30px

.section-wrapper__title
  position: relative
  margin: 0
  font-weight: 800
  font-size: 20px
  line-height: 32px
  color: $black_color
  letter-spacing: 2px
  text-transform: uppercase

  +min-w($tablet)
    font-size: 25px

.section-wrapper__content
  margin-top: 40px
  padding: 0 12px

  +min-w($tablet)
    padding: 0 30px

.section-wrapper--aboutMe
  &::after
    display: none

.section-wrapper--skills
  padding: 70px 0 0

  .section-wrapper__header
    &::before
      color: $grey_color

  .section-wrapper__content
    margin-bottom: 40px

  .section-wrapper__title
    color: $white_color

    &::before
      display: none

  &::after
    display: none

.section-wrapper--recommendation
  &::after
    display: none

.section-wrapper--resume-modal
  +min-w($laptop)
    padding-top: 30px

  &::before
    +min-w($laptop)
      top: 30px

  .section-wrapper__title
    +min-w($tablet)
      font-size: 20px
</style>
