<template lang="pug">
  article.section-background
    .section-background__wrap(
      :class="sectionBackgroundClassName"
      ref="sectionBackground"
    )
      .section-background__progress-bar
        .section-background__progress-line
        .section-background__progress-count(
          :style="progressBarStyleObject"
        )

      .section-background__title(
        v-text="title"
      )
</template>

<script>
import throttle from 'lodash/throttle';
import adaptability from '@/helpers/adaptability';
import getOffset from '@/helpers/getOffset';

let INIT_SCROLL_HANDLER = null;

export default {
  name: 'SectionBackground',
  model: {
    prop: 'activeSection',
    event: 'changeActiveSection',
  },
  props: {
    activeSection: {
      type: Number,
      required: true,
    },
    sections: {
      type: Array,
      required: true,
    },
  },
  data() {
    INIT_SCROLL_HANDLER = throttle(this.scrollHandler, 50);

    return {
      scrollY: 0,
      observer: null,

      title: this.sections[this.activeSection].text,
      modifierClassName: this.sections[this.activeSection].name,

      mainLayoutFooterElementPosition: {},

      isFixedClassSection: false,
      isLaptopL: adaptability.isLaptopL,

      mainContentWrapElementPosition: {},
      progressBarStyleObject: {},

      isClassChange: false,
    };
  },
  computed: {
    mainContentWrapElement() {
      return this.$parent.$refs?.mainContentWrap;
    },
    sectionBackgroundClassName() {
      return {
        'section-background__wrap--class-change': this.isClassChange,
        [`section-background__wrap--${this.modifierClassName}`]: !!this.modifierClassName,
      };
    },
    mainLayoutFooterElement() {
      return this.$parent?.$parent?.$parent?.$refs?.mainLayoutFooter;
    },
  },
  watch: {
    activeSection(val) {
      this.isClassChange = true;

      setTimeout(() => {
        this.modifierClassName = false;
        this.title = this.sections[val].text;

        setTimeout(() => { this.modifierClassName = this.sections[val].name; }, 20);
      }, 500);

      setTimeout(() => {
        this.isClassChange = false;
      }, 1000);
    },
    scrollY(scrollY) {
      this.scrollProgressHandler(scrollY);
    },
  },
  mounted() {
    this.mainContentWrapElementPosition = getOffset(this.mainContentWrapElement);
    this.mainLayoutFooterElementPosition = getOffset(this.mainLayoutFooterElement);

    window.addEventListener('scroll', INIT_SCROLL_HANDLER);
    window.addEventListener('resize', this.resizeHandler);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', INIT_SCROLL_HANDLER);
    window.removeEventListener('resize', this.resizeHandler);
  },
  methods: {
    scrollHandler() {
      if (this.isLaptopL) {
        this.scrollY = window.scrollY;
      }
    },
    resizeHandler() {
      this.mainContentWrapElementPosition = getOffset(this.mainContentWrapElement);
      this.mainLayoutFooterElementPosition = getOffset(this.mainLayoutFooterElement);
      this.isLaptopL = adaptability.isLaptopL;
    },
    isFixedClassSectionHandler(scrollY) {
      this.isFixedClassSection = scrollY + window.innerHeight
        >= this.mainLayoutFooterElementPosition.top;
    },
    scrollProgressHandler(scrollY) {
      const { top, height } = this.mainContentWrapElementPosition;
      const scrollPosition = scrollY + window.innerHeight;
      const maxScrollPosition = top + height;

      if (scrollPosition >= top && scrollPosition <= maxScrollPosition) {
        const progress = Math.round(((scrollPosition - top) / height) * 100);

        this.progressBarStyleObject = {
          transform: `translate3d(${progress}%, -50%, 0)`,
        };
      }
    },
  },
};
</script>

<style scoped lang="sass">
@keyframes bg
  0%
    transform: scale(1.1)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1

@keyframes curtain
  25%,
  75%
    transform: translateX(0)
  100%
    transform: translateX(100%)

.section-background
  display: none

  +min-w($laptop_l)
    position: absolute
    top: 0
    bottom: 80px
    left: 80px
    display: block
    width: 400px

.section-background__wrap
  position: sticky
  top: 0
  z-index: 2
  display: flex
  flex-direction: column
  width: 100%
  height: 100vh
  padding: 30px
  background: $marengo_color no-repeat center / cover
  overflow: hidden

  &::before
    content: ' '
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    background: $marengo_color
    transform: translateX(-100%)

  &::after
    content: ' '
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: no-repeat center / cover
    filter: brightness(.5)
    opacity: 0
    transition: .5s ease-in-out

  &--class-change
    &:before
      animation: curtain 1s ease-in-out

    .section-background__title
      opacity: 0
      transform: translateY(20px)

  &--aboutMe
    &::after
      background-image: url('~@/assets/img/section-background/1.jpg')
      animation: bg .5s .2s ease-in-out forwards

  &--skills
    &::after
      background-image: url('~@/assets/img/section-background/2.jpg')
      animation: bg .5s .2s ease-in-out forwards

  &--portfolio
    &::after
      background-image: url('~@/assets/img/section-background/3.jpg')
      animation: bg .5s .2s ease-in-out forwards

  &--recommendation
    &::after
      background-image: url('~@/assets/img/section-background/4.jpg')
      animation: bg .5s .2s ease-in-out forwards

.section-background__progress-bar
  position: relative
  z-index: 2
  display: flex
  align-items: center
  height: 5px
  overflow: hidden

.section-background__progress-line
  width: 100%
  height: 1px
  background: $white_color
  opacity: .4

.section-background__progress-count
  position: absolute
  top: 50%
  left: -100%
  width: 100%
  height: 100%
  background: $orange_color
  transform: translate3d(0, -50%, 0)
  transition: .3s ease-in-out

.section-background__title
  position: relative
  z-index: 2
  display: flex
  justify-content: center
  margin-top: auto
  padding-bottom: 30px
  font-family: $russo_one_font
  font-weight: 800
  font-size: 28px
  line-height: 34px
  letter-spacing: 5px
  text-transform: uppercase
  color: $white_color
  transition: .5s

  &::after
    content: ' '
    position: absolute
    bottom: 0
    left: 50%
    width: 50px
    height: 4px
    background: $orange_color
    transform: translateX(-50%)
</style>
