<template lang="pug">
  .section-about-me
    .section-about-me__picture
      img.section-about-me__photo(
        :src="require('@/assets/img/home-page/photo.jpg')"
        loading="lazy"
      )

    .section-about-me__content
      ul.section-about-me__content-qualities
        li.section-about-me__qualities-item(
          v-for="(quality, id) in $t('homePage.sections.aboutMe.content.personalQualities')"
          :key="`quality-${id}`"
          v-text="quality"
        )

      button.btn.section-about-me__btn.js-hover(
        data-type="link"
        v-text="$t('homePage.sections.aboutMe.resumeBtn')"
        @click="showResumeModal"
      )

</template>

<script>
import ResumeModal from '@/components/homepage-components/ResumeModal';
import modalBeforeOpenHandler from '@/helpers/remove-scroll';
import modalBeforeCloseHandler from '@/helpers/return-scroll';

export default {
  name: 'SectionAboutMe',
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      modalName: 'resume-modal',
    };
  },
  computed: {
    shiftYForModal() {
      return this.isMobile ? 0 : 0.5;
    },
  },
  methods: {
    showResumeModal() {
      this.isOpenModal = true;

      this.$modal.show(
        ResumeModal,
        {
          modalName: this.modalName,
          isTouch: this.isTouch,
        },
        {
          name: this.modalName,
          shiftY: this.shiftYForModal,
          width: '100%',
          height: '100%',
        },
        {
          'before-open': modalBeforeOpenHandler,
          'before-close': this.modalBeforeCloseHandler,
        },
      );
    },
    modalBeforeCloseHandler() {
      modalBeforeCloseHandler.call(this);
      this.isOpenModal = false;
    },
  },
};
</script>

<style scoped lang="sass">
.section-about-me
  +min-w($tablet)
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    font-weight: normal

.section-about-me__picture
  position: relative
  width: 100%

  +min-w($tablet)
    align-self: flex-start
    width: 38%

  &::after
    content: ' '
    position: absolute
    bottom: -10px
    left: -10px
    z-index: 1
    width: 50%
    height: 50%
    background: $orange_color

.section-about-me__photo
  position: relative
  z-index: 2
  display: block
  width: 100%
  filter: brightness(0.8) saturate(1.3)

.section-about-me__content
  display: flex
  flex-direction: column
  margin-top: 40px

  +min-w($tablet)
    width: 58%
    margin-top: 0

.section-about-me__content-qualities
  margin: auto 0

.section-about-me__qualities-item
  position: relative
  padding-left: 30px
  font-size: 11px
  line-height: 24px

  &:before
    content: ' '
    position: absolute
    top: 7px
    left: 0
    width: 12px
    height: 10px
    background: url('~@/assets/icons/section-about-me/long-arrow-alt-right-solid.svg') no-repeat center / 100%

  &:not(:first-of-type)
    margin-top: 13px

.section-about-me__btn
  align-self: flex-start
  margin-top: 40px
</style>
