<template lang="pug">
  .section-portfolio
    ul.section-portfolio__list(
      ref="portfolioList"
    )
      li.section-portfolio__item(
        v-for="(item, name) in list"
        :key="`portfolio-${name}`"
        :class="classForPortfolioItem(name)"
        v-on="getListenersForItems(name)"
      )
        .section-portfolio__front-elem
          img.section-portfolio__front-overlay(
            :src="require(`@/assets/img/section-portfolio/${name}.jpg`)"
          )
          .section-portfolio__front-title(
            v-text="item.title"
          )
          ul.section-portfolio__front-list
            li.section-portfolio__front-item(
              v-for="(t, key) in item.stack"
              :key="`technologies-${key}`"
              v-text="t"
            )

        .section-portfolio__back-elem
          picture.section-portfolio__back-img-wrap
            img.section-portfolio__back-img(
              :src="require('@/assets/icons/section-portfolio/phone-laptop.svg')"
              width=150
              height=87
              loading="lazy"
            )
          .section-portfolio__back-desc(
            v-text="$t('homePage.sections.portfolio.generalDesc')"
          )
          .section-portfolio__back-links
            .section-portfolio__back-link.js-hover(
              data-type="link"
              v-text="$t('homePage.sections.portfolio.detail')"
              @click="openModal(name)"
            )
            i
            a.section-portfolio__back-link.section-portfolio__back-link--view.js-hover(
              :href="item.link"
              target="_blank"
              data-type="link"
              v-text="$t('homePage.sections.portfolio.view')"
              @click="showItem(name)"
            )
</template>

<script>
import PortfolioModal from '@/components/homepage-components/PortfolioModal';
import adaptability from '@/helpers/adaptability';
import modalBeforeOpenHandler from '@/helpers/remove-scroll';
import modalBeforeCloseHandler from '@/helpers/return-scroll';

let RESIZE_HANDLER;

export default {
  name: 'SectionPortfolio',
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      isMobile: adaptability.isMobile || adaptability.isMobileL,
      modalName: 'portfolio-modal',
      isOpenModal: false,
      currentIndex: null,
    };
  },
  computed: {
    shiftYForModal() {
      return this.isMobile ? 0 : 0.5;
    },
    list() {
      return this.$t('homePage.sections.portfolio.list');
    },
  },
  mounted() {
    RESIZE_HANDLER = this.resizeHandler.bind(this);

    window.addEventListener('resize', RESIZE_HANDLER);
  },
  destroyed() {
    window.removeEventListener('resize', RESIZE_HANDLER);
  },
  methods: {
    resizeHandler() {
      this.isMobile = adaptability.isMobile || adaptability.isMobileL;
    },
    getListenersForItems(index) {
      return {
        click: this.showItem.bind(this, index),
        mouseenter: this.showItemForMouseenter.bind(this, index),
        mouseleave: this.closeItem,
      };
    },
    classForPortfolioItem(name) {
      return {
        'section-portfolio__item--active': name === this.currentIndex,
        [`section-portfolio__item--${name}`]: name,
      };
    },
    showItemForMouseenter(index) {
      if (this.isTouch) return;

      this.showItem(index);
    },
    showItem(index) {
      if (this.currentIndex === index && !this.isOpenModal) {
        this.currentIndex = null;
      } else {
        this.currentIndex = index;
      }
    },
    closeItem() {
      if (this.isOpenModal) return;

      this.currentIndex = null;
    },
    modalBeforeCloseHandler() {
      modalBeforeCloseHandler.call(this);
      this.isOpenModal = false;
    },
    openModal(name) {
      this.isOpenModal = true;

      this.$modal.show(
        PortfolioModal,
        {
          name: this.modalName,
          projectName: name,
          isTouch: this.isTouch,
        },
        {
          name: this.modalName,
          shiftY: this.shiftYForModal,
          width: '100%',
          height: '100%',
        },
        {
          'before-open': modalBeforeOpenHandler,
          'before-close': this.modalBeforeCloseHandler,
        },
      );
    },
  },
};
</script>

<style scoped lang="sass">
.section-portfolio__list
  display: flex
  flex-wrap: wrap
  margin-top: -20px

  +min-w($tablet)
    margin: -20px -10px 0

.section-portfolio__item
  position: relative
  width: 100%
  height: 370px
  margin: 20px 0 0
  transform-style: preserve-3d
  perspective: 1000px

  +min-w($tablet)
    width: 50%
    padding: 0 10px

  +min-w($laptop)
    width: 33.33%

  &  *
    backface-visibility: hidden
    transform-style: preserve-3d

  &--active
    .section-portfolio__front-elem
      transform: rotateY(-180deg)

    .section-portfolio__back-elem
      transform: rotateY(0)

.section-portfolio__front-elem,
.section-portfolio__back-elem
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background: $carbonic_color
  transform: rotateY(0)
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)

  & > *
    transform: translate3d(0, 0, 100px) scale(.85)

  &::before,
  &::after
    content: ' '
    position: absolute
    z-index: 1
    width: 50px
    height: 50px
    border: 1px solid rgba(255,255,255, 0.4)

  &::before
    top: 20px
    left: 20px
    border-right-color: transparent
    border-bottom-color: transparent

  &::after
    right: 20px
    bottom: 20px
    border-top-color: transparent
    border-left-color: transparent

.section-portfolio__front-overlay
  position: absolute
  top: 0
  left: 0
  z-index: 0
  display: block
  width: 100%
  height: 100%
  object-fit: cover
  filter: brightness(.4)
  transform: none

.section-portfolio__front-title
  position: relative
  width: 95%
  padding-bottom: 20px
  font-weight: 800
  font-size: 21px
  text-align: center
  color: $white_color

  &::after
    content: ' '
    position: absolute
    bottom: 0
    left: 50%
    width: 20px
    height: 2px
    background: $orange_color
    transform: translateX(-50%)

.section-portfolio__front-list
  display: flex
  justify-content: center
  flex-wrap: wrap
  max-width: 85%
  margin-top: 10px

.section-portfolio__front-item
  margin: 0 4px
  font-size: 11px
  letter-spacing: 2px
  color: $white_color

.section-portfolio__back-elem
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0
  width: auto
  height: auto
  transform: rotateY(180deg)

  +min-w($tablet)
    right: 10px
    left: 10px

.section-portfolio__back-img-wrap
  position: relative
  line-height: 0

  &::before,
  &::after
    content: ' '
    position: absolute
    z-index: 1
    width: 60px
    height: 10px
    background: rgba(255,255,255,0.1)
    border-radius: 10px
    opacity: .5

  &::before
    top: 12px
    left: -30px

  &::after
    right: -30px
    bottom: 12px

.section-portfolio__back-img
  position: relative
  z-index: 2

.section-portfolio__back-desc
  max-width: 85%
  margin: 35px 0
  font-weight: 500
  font-size: 11px
  line-height: 20px
  color: $white_color

.section-portfolio__back-links
  display: flex
  align-items: center
  width: 80%
  background: rgba(255, 255, 255, .05)

  +min-w($laptop)
    width: 85%

  i
    display: block
    width: 1px
    height: 24px
    background: rgba(255, 255, 255, .21)

.section-portfolio__back-link
  display: block
  width: 100%
  font-size: 9px
  line-height: 45px
  text-align: center
  text-transform: uppercase
  letter-spacing: 2px
  text-decoration: none
  color: $white_color

  &--view
    color: $orange_color
</style>
