<template lang="pug">
.swiper.section-recommendation(
  ref="recommendation"
)
  .section-recommendation__buttons
    .section-recommendation__button.section-recommendation__button--prev.js-hover(
      ref="recommendationBtnPrev"
      data-type="link"
    )
    .section-recommendation__button.section-recommendation__button--next.js-hover(
      ref="recommendationBtnNext"
      data-type="link"
    )

  ul.swiper-wrapper.section-recommendation__list
    li.swiper-slide.section-recommendation__item(
      v-for="(recommendation, index) in recommendationList"
      :key="`recommendation-list-${index}`"
    )
      .section-recommendation__item-header
        .section-recommendation__header-photo-wrap
          picture.section-recommendation__header-photo
            img(
              :src="require(`@/assets/img/section-recommendation/${recommendation.image}`)"
              width=80
              height=80
            )
        .section-recommendation__header-person
          .section-recommendation__person-name(
            v-text="recommendation.person"
          )
          .section-recommendation__person-position(
            v-text="recommendation.position"
          )

      .section-recommendation__item-text
        p.section-recommendation__text-item(
          v-for="(text, id) in recommendation.text"
          :key="`text-item-${id}`"
          v-text="text"
        )

      .section-recommendation__item-footer
        a.section-recommendation__footer-company.js-hover(
          data-type="link"
          :href="recommendation.url"
          v-text="recommendation.company"
          target="_blank"
        )

        time.section-recommendation__text-time(
          v-text="recommendation.date"
        )
</template>

<script>
import 'swiper/swiper.min.css';

import Swiper, { Navigation } from 'swiper';
import adaptability from '@/helpers/adaptability';

Swiper.use([Navigation]);

export default {
  name: 'SectionRecommendation',
  data() {
    return {
      swiperSlider: null,
    };
  },
  computed: {
    recommendationList() {
      return this.$t('homePage.sections.recommendation.list');
    },
    autoHeightForSwiper() {
      return window.innerWidth < adaptability.values.laptop;
    },
  },
  mounted() {
    this.initSwiperSlider();
  },
  destroyed() {
    this.destroySwiperSlider();
  },
  methods: {
    initSwiperSlider() {
      this.swiperSlider = new Swiper(this.$refs.recommendation, {
        autoHeight: this.autoHeightForSwiper,
        resistanceRatio: 0,
        breakpoints: {
          320: {
            slidesPerView: 1,
          },
          1024: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
        },
        navigation: {
          disabledClass: 'section-recommendation__button--disabled',
          lockClass: 'section-recommendation__button--lock',

          nextEl: this.$refs.recommendationBtnNext,
          prevEl: this.$refs.recommendationBtnPrev,
        },
      });
    },
    destroySwiperSlider() {
      this.swiperSlider.destroy();
    },
  },
};
</script>

<style scoped lang="sass">
.section-recommendation__buttons
  display: flex
  justify-content: flex-end

.section-recommendation__button
  position: relative
  width: 36px
  height: 36px
  margin-left: 10px
  background: $carbonic_color
  border-radius: 4px
  transition: .3s ease-in-out

  &::before
    content: ' '
    position: absolute
    top: 50%
    left: 50%
    border: 3px solid $orange_color

  &--prev::before
    border-top-color: transparent
    border-right-color: transparent
    transform: translate(calc(-50% + 1.5px), -50%) rotate(45deg)

  &--next::before
    border-bottom-color: transparent
    border-left-color: transparent
    transform: translate(calc(-50% - 1.5px), -50%) rotate(45deg)

  &--disabled
    pointer-events: none
    opacity: .8

  &--lock
    pointer-events: none
    visibility: hidden
    opacity: 0

.section-recommendation__list
  margin-top: 30px

.section-recommendation__item
  padding: 20px 20px 0
  background: $snow_white_color
  border: 1px solid $white_smoke_color
  border-radius: 4px

  +min-w($laptop)
    width: 50%

    &:not(:last-of-type)
      margin-right: 20px

.section-recommendation__item-header
  display: flex
  align-items: flex-end

.section-recommendation__header-photo-wrap
  position: relative
  width: 80px
  margin: -10px 0 0 10px

.section-recommendation__header-photo
  position: absolute
  bottom: 0
  flex-shrink: 0
  display: block
  box-sizing: border-box
  width: 80px
  height: 80px
  background: $white_color
  border: 6px solid $white_color
  border-radius: 50%
  box-shadow: 0 9px 26px rgb(58 87 135 / 10%)
  overflow: hidden

  img
    width: 100%
    height: 100%

.section-recommendation__header-person
  margin-left: 20px

.section-recommendation__person-name
  font-weight: 600
  font-size: 12px
  line-height: 20px
  color: $lavender_color

  +min-w($laptop)
    font-size: 13px

.section-recommendation__person-position
  font-weight: 500
  font-size: 9px
  line-height: 10px
  color: $tin_gray_color

.section-recommendation__item-text
  position: relative
  margin-top: 25px

  &::after
    content: ' '
    position: absolute
    right: 0
    bottom: -35px
    width: 24px
    height: 24px
    background: url("~@/assets/icons/section-recommendation/quote-right-thin.svg")

.section-recommendation__text-item
  margin: 10px 0 0
  font-style: italic
  font-weight: 500
  font-size: 10px
  line-height: 21px
  color: $lilac_color

  +min-w($laptop)
    font-size: 11px
    line-height: 22px

  &:first-of-type
    margin: 0

  &:first-of-type::before,
  &:last-of-type::after
    content: '"'
    margin: 0 2px

.section-recommendation__item-footer
  display: flex
  justify-content: space-between
  margin: 50px 0 -1px

.section-recommendation__footer-company
  display: block
  padding: 0 20px
  font-weight: 500
  font-size: 9px
  line-height: 36px
  text-align: center
  text-transform: uppercase
  text-decoration: none
  color: $orange_color
  background: $white_color
  border: 1px solid  $white_smoke_color
  border-radius: 4px 4px 0 0

.section-recommendation__text-time
  align-self: center
  display: block
  font-style: italic
  font-weight: 500
  font-size: 10px
  line-height: 21px
  text-align: right
  color: $lilac_color
</style>
