<template lang="pug">
  .main-content
    section-background(
      v-model="activeSection"
      :isDisableObserver.sync="isDisableObserver"
      :sections="sections"
    )

    .main-content__wrap(ref="mainContentWrap")
      navigation-bar.main-content__nav-bar(
        v-model="activeSection"
        :isDisableObserver.sync="isDisableObserver"
      )

      section.main-content__section(
        v-for="(section, id) in sections"
        :key="`page-section-${id}`"
        :id="`section-${section.name}`"
        :class="`main-content__section--${section.name}`"
        :data-id="id"
      )
        section-wrapper(
          :title="section.text"
          :number="id + 1"
          :id="id"
          :sectionName="section.name"
        )
          component(
            :is="`section-${section.name}`"
            :isTouch="isTouch"
          )
</template>

<script>
import NavigationBar from '@/components/homepage-components/NavigationBar';
import SectionWrapper from '@/components/homepage-components/SectionWrapper';
import SectionAboutMe from '@/components/homepage-components/SectionAboutMe';
import SectionSkills from '@/components/homepage-components/SectionSkills';
import SectionPortfolio from '@/components/homepage-components/SectionPortfolio';
import SectionRecommendation from '@/components/homepage-components/SectionRecommendation';
import ParallaxPixel from '@/components/global-components/ParallaxPixel';
import SectionBackground from '@/components/homepage-components/SectionBackground';

export default {
  name: 'Home',
  components: {
    SectionBackground,
    NavigationBar,
    SectionWrapper,
    SectionAboutMe,
    SectionSkills,
    SectionPortfolio,
    SectionRecommendation,
    ParallaxPixel,
  },
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      observer: null,
      isDisableObserver: false,
      activeSection: 0,
    };
  },
  computed: {
    sections() {
      return this.$store.getters.navLinks;
    },
    sectionList() {
      return [...this.$refs.mainContentWrap.children];
    },
  },
  mounted() {
    this.initIntersectionObserver();
  },
  destroyed() {
    this.disableObserver();
  },
  watch: {
    isDisableObserver(val) {
      if (val) {
        this.disableObserver();
      } else {
        this.enableObserver();
      }
    },
  },
  methods: {
    initIntersectionObserver() {
      this.observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const { id } = entry.target.dataset;

            if (id) this.activeSection = +id;
          }
        });
      }, { rootMargin: '-30% 0px -70%' });

      this.enableObserver();
    },
    disableObserver() {
      this.sectionList.forEach((section) => this.observer.unobserve(section));
    },
    enableObserver() {
      this.sectionList.forEach((section) => this.observer.observe(section));
    },
  },
};
</script>

<style scoped lang="sass">
.main-content
  height: 100%

  +min-w($laptop)
    padding-left: 80px

  +min-w($laptop_l)
    padding-left: 480px

.main-content__section
  background: $white_color

  &--skills
    background: $carbonic_color
</style>
