/* russo-one-regular - latin_cyrillic */
@font-face
  font-family: 'Russo One'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('./russo-one/russo-one-v9-latin_cyrillic-regular.woff2') format('woff2'), url('./russo-one/russo-one-v9-latin_cyrillic-regular.woff') format('woff')

/* inter-300 - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url('./inter/inter-v3-latin-300.woff2') format('woff2'),  url('./inter/inter-v3-latin-300.woff') format('woff')

/* inter-regular - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('./inter/inter-v3-latin-regular.woff2') format('woff2'),  url('./inter/inter-v3-latin-regular.woff') format('woff')

/* inter-500 - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url('./inter/inter-v3-latin-500.woff2') format('woff2'),  url('./inter/inter-v3-latin-500.woff') format('woff')

/* inter-600 - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url('./inter/inter-v3-latin-600.woff2') format('woff2'),  url('./inter/inter-v3-latin-600.woff') format('woff')

/* inter-700 - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url('./inter/inter-v3-latin-700.woff2') format('woff2'),  url('./inter/inter-v3-latin-700.woff') format('woff')

/* inter-800 - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 800
  font-display: swap
  src: url('./inter/inter-v3-latin-800.woff2') format('woff2'),  url('./inter/inter-v3-latin-800.woff') format('woff')

/* inter-900 - latin */
@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url('./inter/inter-v3-latin-900.woff2') format('woff2'),  url('./inter/inter-v3-latin-900.woff') format('woff')

/* Neuropol-400 - latin */
@font-face
  font-family: 'Neuropol'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('./neuropol/neuropol-regular.woff2') format('woff2')

