@function multiple-box-shadow($n, $c)
  $value: '#{random(2000)}px #{random(2000)}px #{$c}'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{$c}'

  @return unquote($value)

=min-w($w)
  @media screen and (min-width: $w)
    @content

=verticalScrollbar($barWidth, $barColor, $barThumbColor)
  scrollbar-color: $barThumbColor $barColor
  scrollbar-width: thin

  &::-webkit-scrollbar
    width: $barWidth

  &::-webkit-scrollbar-track
    background: $barColor

  &::-webkit-scrollbar-thumb
    border-radius: 0
    background: $barThumbColor
