<template lang="pug">
  #app(:class="{ 'no-touch': !isTouch}")

    component(
      :is="layout"
      :isTouch="isTouch"
    )

    custom-cursor(v-if="!isTouch")
</template>

<script>
import CustomCursor from '@/components/global-components/CustomCursor';

export default {
  name: 'App',
  components: {
    CustomCursor,
  },
  computed: {
    isTouch() {
      return ('ontouchstart' in window)
        || (navigator.maxTouchPoints > 0)
        || (navigator.msMaxTouchPoints > 0);
    },
    layout() {
      const layout = this.$route.meta.layout || 'MainLayout';

      return () => import(`@/layout/${layout}.vue`);
    },
  },
};
</script>

<style lang="sass">
@import "./assets/sass/vm"

*
  box-sizing: border-box
  cursor: none

#app
  width: 100%
  height: 100%
  font: 400 12px/24px $inter_font

html,
body
  min-height: 100%
  width: 100%
  height: 100%
  background: $carbonic_color
  user-select: none
  +verticalScrollbar(8px, $carbonic_color, $orange_color)

p
  margin: 20px 0
  padding: 0
  font-weight: 500
  font-size: 11px
  line-height: 24px
  color: $light_grey_color

  +min-w($laptop)
    font-size: 12px
    line-height: 26px

ul
  margin: 0
  padding: 0
  list-style: none

button
  padding: 0
  background: none
  border: none

.btn
  position: relative
  padding: 0 35px
  font-weight: 700
  font-size: 9px
  line-height: 45px
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  color: $white_color
  background: $orange_color
  border: none
  transition: .3s ease-in-out

  &::before,
  &::after
    content: ' '
    position: absolute
    transition: .3s ease-in-out

  &::before
    top: 0
    bottom: 0
    left: 0
    width: 4px
    background: $carbonic_color

  &::after
    top: 50%
    right: 15px
    width: 0
    height: 1px
    background: rgba(255, 255, 255, .55)
    transform: translateY(-50%)

  .no-touch &:hover
    padding-right: 45px
    color: rgba(255, 255, 255, .55)

    &::before
      width: 10px

    &::after
      width: 10px

  &--for-portfolio
    background: rgba(255,255,255,0.05)

    &::before
      background: $orange_color

h1.heading,
h2.heading,
h3.heading
  position: relative

  &::before
    content: ' '
    position: absolute
    top: 50%
    left: -12px
    z-index: -1
    width: 75px
    height: 50px
    background: $brilliant_white_color
    transform: translateY(-50%)

    +min-w($tablet)
      left: -70px
      width: 150px
      height: 55px
</style>
