<template lang="pug">
  router-view(
    :isTouch="isTouch"
  )
</template>

<script>
export default {
  name: 'Locale',
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
};
</script>
