<template lang="pug">
  .main-layout
    header-bar(
      :isTouch="isTouch"
    )

    header.main-layout__header
      header-content

    main.main-layout__content
      router-view(
        :isTouch="isTouch"
      )

    footer.main-layout__footer(ref="mainLayoutFooter" )
      footer-content
</template>

<script>
import HeaderBar from '@/components/global-components/HeaderBar';
import HeaderContent from '@/components/global-components/HeaderContent';
import FooterContent from '@/components/global-components/FooterContent';

export default {
  name: 'MainLayout',
  components: { HeaderBar, HeaderContent, FooterContent },
  props: {
    isTouch: {
      type: Boolean,
      required: true,
    },
  },
};
</script>

<style scoped lang="sass">
.main-layout
  position: relative
  height: 100%

  +min-w($laptop_l)
    height: auto

.main-layout__header
  position: relative
  z-index: 10
  height: 100%

  +min-w($laptop_l)
    height: 100vh
</style>
