#modals-container
  .vm
    &--container
      z-index: 10000
      display: flex
      font: 400 12px/24px $inter_font

    &--overlay
      background: rgba(35, 35, 35, 0.7)

    &--modal
      margin: 0 auto
      background: rgba(0, 0, 0, 0)
      border-radius: 0
      box-shadow: none
      overflow-y: auto

      +min-w($laptop)
        max-width: 800px
        max-height: 90%
        margin: auto
        +verticalScrollbar(4px, $carbonic_color, $orange_color)
